---
import adamImage from '/images/2022-04-adam-purple-wall-1-800-1067.jpg'
---

<section>
  <h2 class="section__title">Who I am</h2>
  <p class="about__subtitle">Designer &amp; Developer</p>
  <div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius nemo beatae eos fuga dicta ex odit odio aperiam praesentium placeat animi eveniet harum atque eligendi et fugit, inventore accusantium nam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas inventore eaque dolor facere quis, ad itaque debitis maxime officiis iusto vitae voluptas earum nobis sunt quo natus temporibus saepe tenetur!</p>
  </div>
  <img src={adamImage} alt="Adam">
</section>