---
import BlogArticle from "./BlogArticle.astro"
import PageLink from "./PageLink.astro"
import {sortPosts, getPublishedPosts} from '../../js/utilities'

const posts = await Astro.glob('../../pages/blog/*.md')
const publishedPosts = getPublishedPosts(posts)
const sortedPosts = sortPosts(publishedPosts)
const threeMostRecentPosts = sortedPosts.slice(0, 3)
---

<style>
  .section__title::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: .75em auto .75em;
    background: var(--white);
    opacity: 0.25;
  }
</style>


<section id="myBlog" class="home-section">
  <div class="container--max-width">
    <h2 class="section__title">My Thoughts</h2>
    <div class="blog__row">
      {threeMostRecentPosts.map(post => <BlogArticle {post} />)}
    </div>
  </div>
  <PageLink path='/blog' text='See more blog posts' />
</section>