---
import BlogArticle from "./BlogArticle.astro"
import {sortPosts, getPublishedPosts} from '../../js/utilities'

const posts = await Astro.glob('../../pages/blog/*.md')
const publishedPosts = getPublishedPosts(posts)
const sortedPosts = sortPosts(publishedPosts)
const threeMostRecentPosts = sortedPosts.slice(0, 3)
---

<style>
  @media screen and (min-width: 550px) {
    .blog__row {
      display: grid;
      gap: 1em;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr))
    }
    .traits__card {
      margin-bottom: 0;
    }
  }
</style>


<section id="myBlog" class="home-section">
  <h2 class="section__title">My Words</h2>  
    <div class="blog__row">
      {threeMostRecentPosts.map(post => <BlogArticle {post} />)}
    </div>
</section>