<section class="home-section">
  <h2 class="section__title">Blog</h2>
  <div class="blog__row">
    <div>
      <h3>title</h3>
      <p>Some description</p>
      <a class="card__link" target="_blank" href="">Read More</a>
    </div>
  </div>
</section>