---
import adamImage from '../../assets/images/2022-04-adam-purple-wall-662-756.jpg'
---

<style>
  .home-section {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .intro {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    text-align: center;
  }

  .intro__title {
    margin-bottom: 0.35em;
  }

  .about__subtitle {
    margin-bottom: .5em;
    font-size: 1.5rem;
  }

  .intro__tagline {
    margin-bottom: .75em;
    font-size: 1.1rem;
  }

  img {
    border-radius: var(--rounded-corners);
    position: relative;
    min-width: 250px;
    max-width: 100%;
    grid-area: img;
    z-index: 2;
    box-shadow: var(--brand-box-shadow),
      0.125em 0.125em .025em rgba(0, 0, 0, .15);
    transition: transform 250ms ease-in-out;
  }

  h1 {
    font-weight: var(--fw-reg);
  }

  @media screen and (min-width: 600px) {
    .intro {
      margin-bottom: 2em;
      text-align: unset;
      display: grid;
      align-items: center;
      width: min-content;
      grid-column-gap: 2em;
      grid-template-areas: 
        "img title"
        "img subtitle"
        "img tagline";
      grid-template-columns: min-content 250px;
    }
    .about__subtitle {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1.5em;
      width: calc(100% + 3.5em);
    }
    .intro__tagline {
      grid-area: tagline;
      align-self: start;
      grid-row: 3;
    }
    img:hover {
      transform: skew(.75deg);
    }
  }
</style>

<section class="home-section" >
  <div class="intro container--max-width">
    <h1 class="intro__title">Hi, I'm <strong>Adam</strong></h1>
    <p class="about__subtitle">Web Developer</p>
    <p class="intro__tagline">I write clean, semantic code for beautiful and functional websites.</p>
    <img src={adamImage.src} alt="Adam">
  </div>
</section>
