<style>
  section {
    background-image: url(/images/laptop-cat-1200.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .traits__row {
    
  }
  .traits__card {
    text-align: center;
    margin-bottom: 1em;
  }
  .traits__headline::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--white);
    opacity: .25;
  }
  @media screen and (min-width: 800px) {
    .traits__row {
      display: flex;
      gap: 3em;
    }
    .traits__card {
      flex: 1;
      margin-bottom: 0;
    }
  }
</style>

<section class="home-section">
  <div class="container--max-width">
    <h2 class="section__title traits__headline">What I do</h2>
    <div class="traits__row">
      <div class="traits__card">
        <h3 class="traits__title">Development</h3>
        <p>I'm an experienced web developer who loves the entire creative process. I can contribute toward your goals; from brainstorming and discussing possible solutions to problem-solving and executing with a team.</p>
      </div>
      <div class="traits__card">
        <h3 class="traits__title">Team Work</h3>
        <p>I believe in working together to make great products. Whether it's working with my immediate team or with other departments, I value the insights gained from different experiences and skillsets to deliver the best solutions.</p>
      </div>
      <div class="traits__card">
        <h3 class="traits__title">User Experience</h3>
        <p>I believe that almost every project has the opportunity for improvement. I have a passion for continually testing, iterating and improving for the benefit of the user.</p>
      </div>
    </div>
  </div>
</section>