---
import Base from '../layouts/Base.astro'
import Socials from '../components/Socials.astro'
---

<Base title="About">
  <div class="container--max-width container--base-padding">
    <h1>About Me</h1>
    <h2>Hi, I'm Adam, an experienced Web Developer.</h2>
    <p>I'm a web developer, hiker, bike rider, friend, mentor, and much more.</p>
    <p>I specilize in frontend development. My preferred tools are JavaScript and CSS. My skillset consists of not only web development but UI/UX and design. I'm constantly analyzing and iterating on designs for the benefit of the user.</p>
    <p>I'm ready to bring my development, design, and marketing skills to a company where we can make we can make a difference together.</p>
    <Socials />
  </div>
</Base>