---
import Base from '../layouts/Base.astro'
import adamImage from '../assets/images/2022-04-adam-purple-wall-662-756.jpg'
---

<style>  
  .about__img {
    border-radius: var(--rounded-corners);
  }
  @media screen and (min-width: 600px) {
    .about__content {
      display: grid;
      grid-template-areas: 
        "copy img"
      ;
      gap: 1em;
    }
  
    .about__copy {
      grid-area: copy;
    }
  
    .about__img {
      grid-area: img;
    }
  }
</style>

<Base title="About">
  <div class="container--max-width container--base-padding">
    <h1 class="page__title">About Me</h1>
    <div class="about__content">
      <div class="about__copy">
        <h2>Hi, I'm Adam</h2>
        <p>I'm a web developer, hiker, bike rider, friend, mentor, and much more.</p>
        <p>After graduating with a degree in Visual Communication, I always gravitated toward design and human communication.</p>
        <p>Now, I specialize in front end development and my preferred tools are JavaScript and CSS. My skills consist of not only development but also in the adjacent fields of UI/UX and design. I'm constantly analyzing and iterating.</p>
        <p>I'm ready to bring my development, design, and marketing skills to a team where we can make a difference together.</p>
        <p><a class="brand-link brand-link--callout" href="mailto:hello@adamgoodcoder.com?subject=Hi%20Adam">Get in touch with me</a>, let's make something together!</p>
      </div>
      <img class="about__img" src={adamImage.src} alt="Adam"/>
    </div>
  </div>
</Base>