---
import Base from '../layouts/Base.astro'
---


<Base title="About">
  <div class="container--max-width container--base-padding">
    <h1 class="page__title">Style Guide</h1>
    <div class="style__content">
      <div class="style__copy">
        <h2>Title:</h2>
        <p>Front-end Developer</p>
        <h2>Technology Names:</h2>
        <ul>
          <li>GitHub</li>
          <li>JavaScript</li>
          <li>Mailchimp</li>
          <li>Markdown</li>
          <li>MDX</li>
          <li>MongoDB</li>
          <li>Node.js</li>
          <li><a target="_blank" class="brand-link" href="https://sass-lang.com/styleguide/">Sass aka SCSS</a></li>
          <li><a target="_blank" class="brand-link" href="https://woo.com/brand-and-logo-guidelines/">WooCommerce</a></li>
        </ul>
      </div>
    </div>
  </div>
</Base>