---
import Base from '../layouts/Base.astro'
---



<Base title="About">
  <div class="container--max-width container--base-padding">
    <h1 class="page__title">Style Guide</h1>
    <div class="style__content">
      <div class="style__copy">
        <h2>Title:</h2>
        <p>Front-end Developer</p>
        <h2>Technology Names:</h2>
        <ul>
          <li><a target="_blank" class="brand-link" href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a></li>
          <li>GitHub</li>
          <li><a target="_blank" class="brand-link" href="https://developer.mozilla.org/en-US/docs/Glossary/HTML">HTML</a></li>
          <li><a target="_blank" class="brand-link" href="https://www.glassdoor.com/about/newsroom/">Glassdoor</a></li>
          <li>JavaScript</li>
          <li><a target="_blank" class="brand-link" href="https://brand.linkedin.com/en-us">LinkedIn</a></li>
          <li>Mailchimp</li>
          <li>Markdown</li>
          <li>MDX</li>
          <li>MongoDB</li>
          <li><a target="_blank" class="brand-link" href="https://mongoosejs.com/">Mongoose</a></li>
          <li>Node.js</li>
          <li><a target="_blank" class="brand-link" href="https://brand.salesforce.com/content/logo-guidelines">Salesforce</a></li>
          <li><a target="_blank" class="brand-link" href="https://sass-lang.com/styleguide/">Sass (.scss and .sass)</a></li>
          <li><a target="_blank" class="brand-link" href="https://woo.com/brand-and-logo-guidelines/">WooCommerce</a></li>
        </ul>
        <h2>Image sources:</h2>
        <ul>
          <li><a target="_blank" class="brand-link" href="https://unsplash.com/">Unsplash</a></li>
        </ul>
      </div>
    </div>
  </div>
</Base>