---
import Base from '../layouts/Base.astro'
const pageTitle = "Style Guide"
---

<style>
  section {
    margin-bottom: 1em;
  }
</style>

<Base pageTitle={pageTitle}>
  <div class="container--max-width container--base-padding">
    <h1 class="page__title">{pageTitle}</h1>
    <div class="style__content">
      <div class="style__copy">
        <section>
          <h2>Professional Title:</h2>
          <p><a target="_blank" class="brand-link" href="https://css-tricks.com/poll-results-front-end-front-end/">Front-end Developer</a></p>
        </section>
        <section>
          <h2>Professional Links:</h2>
          <ul>
            <li><a target="_blank" href="https://github.com/adamgonzls">https://github.com/adamgonzls</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/adamgonzales1/">https://www.linkedin.com/in/adamgonzales1/</a></li>
          </ul>
        </section>
        <section>
          <h2>Technology Names:</h2>
          <ul>
            <li>
              CSS
            </li>
            <li>GitHub</li>
            <li><a target="_blank" class="brand-link" href="https://developer.mozilla.org/en-US/docs/Glossary/HTML">HTML</a></li>
            <li><a target="_blank" class="brand-link" href="https://www.glassdoor.com/about/newsroom/">Glassdoor</a></li>
            <li>JavaScript</li>
            <li><a target="_blank" class="brand-link" href="https://brand.linkedin.com/en-us">LinkedIn</a></li>
            <li>Mailchimp</li>
            <li>Markdown</li>
            <li>MDX</li>
            <li>MongoDB</li>
            <li><a target="_blank" class="brand-link" href="https://mongoosejs.com/">Mongoose</a></li>
            <li>Node.js</li>
            <li><a target="_blank" class="brand-link" href="https://brand.salesforce.com/content/logo-guidelines">Salesforce</a></li>
            <li><a target="_blank" class="brand-link" href="https://sass-lang.com/styleguide/">Sass (.scss and .sass)</a></li>
            <li><a target="_blank" class="brand-link" href="https://woo.com/brand-and-logo-guidelines/">WooCommerce</a></li>
          </ul>
        </section>
        <section>
          <h2>Image sources:</h2>
          <ul>
            <li><a target="_blank" class="brand-link" href="https://unsplash.com/">Unsplash</a></li>
            <li>GitHub Read Me Badges: <a href="https://shields.io/">shields.io</a></li>
          </ul>
        </section>
        <section>
          <h2>Git Commits:</h2>
          <p>For git commits, try to sum up the changes with a one word "summary", then offer more details in the details</p>
          <code class="mb-1">
          <p>refactor: update blog "date" to "pubDate"</p>
          <ul class="list--no-type pl-0">
            <li>- modify related docs to reflect updated field name</li>
            <li>- add updatedDate to frontmatter</li>
            <li>- update content on blog</li>
          </ul>
          </code>
          <p>Some acceptable summaries:</p>
          <ul class="font--mono">
            <li>fix:</li>
            <li>refactor:</li>
            <li>content:</li>
            <li>config:</li>
            <li>feature:</li>
            <li>tweak:</li>
            <li>styles:</li>
            <li>docs:</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</Base>