---
import avatarImg from '../assets/images/2022-04-adam-purple-wall-662-756.jpg'
import data from '../js/adamFacts.json'

const randomFact = data.facts[Math.floor(Math.random() * data.facts.length)]
---

<div class="fact__row">
  <img class="fact__img" src={avatarImg} alt="Adam">
  <div>
    <p class="fact__text">{randomFact ? randomFact : "Adam is a Web Developer in Arizona"}</p>
  </div>
</div>