---
import avatarImg from '/images/2022-04-adam-purple-wall-662-756.jpg'
---

<div class="avatar__row">
  <img class="avatar__img" src={avatarImg} alt="Adam">
  <div>
    <p class="avatar__fact">Adam is a Web Developer in Arizona</p>
  </div>
</div>