---
const props = Astro.props
// console.log(props)
---

<style>
  button {
    padding: .5em 1.25em;
    border: 2px solid var(--accent-color);
    border-radius: 9px;
    color: var(--mine-shaft);
    background-color: var(--accent-color);
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: var(--brand-box-shadow);
  }
  button:hover,
  button:active {
    box-shadow: var(--brand-box-shadow-hovered);
  }
  button:active {
    box-shadow: none;
  }
</style>

<button>
  {props.text ? props.text : "Click"}
</button>