---
const props = Astro.props
// console.log(props)
---

<style>
  button {
    padding: .5rem 1.25rem;
    border-radius: 44px;
    color: var(--mine-shaft);
    background-color: var(--caribbean-green);
    font-size: 1rem;
    cursor: pointer;
    border: none;
  }
  button:hover {
    background-color: green;
  }
</style>

<button>
  {props.text ? props.text : "Click"}
</button>