<style>
  input, textarea {
    display: block;
  }
</style>

<section class="home-section">
  <div class="container--max-width">
    <h2>This is the contact form</h2>
    <form action="">
      <label for="fullName">Name:</label><input id="fullName" type="text">
      <label for="emailAddress">Email Address:</label><input id="emailAddress" type="text">
      <textarea name="" id="message" cols="30" rows="10"></textarea>
      <button>Send Message</button>
    </form>
  </div>
</section>