---
import Socials from './Socials.astro'

const year = new Date().getFullYear();
---

<style>
  footer {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--darkness);
    color: var(--accent-color);
    display: flex;
    justify-content: center;
  }
  p {
    margin-bottom: 2em;
    text-align: center;
    color: inherit;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    letter-spacing: .1rem;
  }
  .contact__link {
    color: var(--accent-color);
  }
</style>

<footer>
  <div>
    <p>Made with ❤️ by <a class="contact__link" href="mailto:hello@acodedbyadam.com?subject=Hi%20Adam">Adam</a> &copy; {year}</p>
    <Socials />
  </div>
</footer>