---
const urlPath = new URL(Astro.request.url).pathname
const currentPath = urlPath.substring(1)
---

<style>
header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.logo {
  font-weight: var(--fw-bold);
  letter-spacing: -.09rem;
}

.brand-link {
  color: var(--white);
}

@media screen and (min-width: 700px) {
  header {
    margin-bottom: 2em;
    justify-content: unset;
  }
  .brand-link {
    padding: .5em .75em;
    font-size: unset;
    color: var(--mine-shaft);
  }
  .contact-link__container {
    margin-left: auto;
  }
}
</style>

<header class="container--base-padding container--max-width">
  <span class="logo"><a href="/">adamgoodcoder</a></span>
  <nav class="preload main-nav">
    <ul class="nav-items">
      <li>
        <a class={`brand-link ${typeof currentPath === "string" && currentPath.length === 0 ? "active" : ""}`} href="/">Home</a>
      </li>
      <li>
        <a class={`brand-link ${currentPath === "experience" ? "active" : ""}`} href="/experience">Experience</a>
      </li>
      <li>
        <a class={`brand-link ${currentPath.includes("blog")  ? "active" : ""}`} href="/blog">Blog</a>
      </li>
      <li>
        <a class={`brand-link ${currentPath === "about" ? "active" : ""}`} href="/about">About</a>
      </li>
      <li class="contact-link__container">
        <a class="brand-button" href="mailto:hello@adamgoodcoder.com?subject=Hi%20Adam">Contact Adam</a>
      </li>
    </ul>
  </nav>
  
  <button class="nav-toggle" aria-label="toggle navigation"><span class="hamburger"></span></button>
</header>

<script>
  import '../js/navToggle'
</script>