---
import Button from '../components/Button.astro'
---

<style>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 4em;
}

.logo {
  margin-right: 2em;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}
</style>

<header>
  <nav>
    <span class="logo">adamg</span>
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Work</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
  <Button text="Contact Meeee" />
</header>