---
import Button from '../components/Button.astro'
---

<style>
header {
  font-size: 1rem;
  margin-bottom: 2em;
}

.logo {
  margin-right: 2em;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 500px) {
  header {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    align-items: center;
  }
  ul {
    display: flex;
    gap: 3rem;
  }
}
</style>

<header>
  <nav>
    <span class="logo">adamg</span>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#myWork">Work</a>
      </li>
      <li>
        <a href="#myBlog">Blog</a>
      </li>
      <li>
        <a href="#myAbout">About</a>
      </li>
    </ul>
  </nav>
  <a class="brand-button" href="mailto:adamgonzales1@gmail.com?subject=Hi%20Adam">Contact Adam</a>
</header>