<script type="module">
  const navToggle = document.querySelector('.nav-toggle')
  const navLinks = document.querySelectorAll('.nav-items li')
  const pageContainer = document.querySelector('.page-container')
  navToggle.addEventListener('click', () => {
    console.log('click')
    pageContainer.classList.toggle('nav-open')
  })
  navLinks.forEach(link => {
    link.addEventListener('click', () => {
      pageContainer.classList.remove('nav-open')
    })
  })
</script>

<style>
header {
  position: relative;
  margin-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.logo {
  margin-right: 2em;
}

.brand-link {
  color: var(--white);
}

@media screen and (min-width: 700px) {
  header {
    margin-bottom: 2em;
    justify-content: unset;
  }
  .brand-link {
    padding: .5em .75em;
    font-size: unset;
    color: var(--mine-shaft);
  }
  .contact-link__container {
    margin-left: auto;
  }
}
</style>

<header>
  <span class="logo"><a href="/">adamg</a></span>
  <nav class="main-nav">
    <ul class="nav-items">
      <li>
        <a class="brand-link" href="/">Home</a>
      </li>
      <li>
        <a class="brand-link" href="/experience">Experience</a>
      </li>
      <li>
        <a class="brand-link" href="/blog">Blog</a>
      </li>
      <li>
        <a class="brand-link" href="/about">About</a>
      </li>
      <li class="contact-link__container">
        <a class="brand-button" href="mailto:adamgonzales1@gmail.com?subject=Hi%20Adam">Contact Adam</a>
      </li>
    </ul>
  </nav>
  
  <button class="nav-toggle" aria-label="toggle navigation"><span class="hamburger"></span></button>
</header>