@import './reset.css';
@import './variables.css';
@import './utilities.css';
@import './layout.css';
@import './ui-components.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--mine-shaft);
  text-decoration: none;
}

:focus {
  outline: 3px solid var(--accent-color);
  outline-offset: 3px;
}
