.page-container {
  padding: 2em;
}

.section__title {
  text-align: center;
  margin-bottom: 0.75em;
}

.section__subtitle {
  font-size: var(--fs-h3);
}

.about__subtitle {
  padding: 0.5em 1em;
  background-color: var(--accent-color);
  font-family: var(--ff-secondary);
  letter-spacing: 0.1em;
}

.home-section {
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 4em;
  padding-bottom: 4em;
}

.home-section:nth-child(even) {
  color: var(--white);
  background-color: var(--mine-shaft);
}

.home-section:nth-child(even) a {
  color: var(--white);
}

.home-section:nth-child(odd) {
  border: 2px solid cyan;
}

.home-section:nth-child(even) .section__title {
  color: var(--accent-color);
}

.brand-button {
  padding: 0.5em 1.25em;
  border: 2px solid var(--accent-color);
  border-radius: 9px;
  color: var(--mine-shaft);
  background-color: var(--accent-color);
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: var(--brand-box-shadow);
}

.brand-button:hover,
.brand-button:active {
  box-shadow: var(--brand-box-shadow-hovered);
}

.brand-button:active {
  box-shadow: none;
}
