.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--accent-color);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 0.2s ease-in-out;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.brand-button {
  display: inline-block;
  padding: 0.5em 1.25em;
  border: 2px solid var(--accent-color);
  border-radius: 9px;
  color: var(--mine-shaft);
  background-color: var(--accent-color);
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: var(--brand-box-shadow);
}

.brand-button:hover,
.brand-button:active {
  box-shadow: var(--brand-box-shadow-hovered);
}

.brand-button:active {
  box-shadow: none;
}

.brand-link {
  /* border-bottom: 0px solid var(--accent-color);
  line-height: 1.25;
  transition: border 0.1s linear; */
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 1.25;
}

.brand-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.05em;
  height: 0;
  width: 100%;
  background-color: var(--accent-color);
  z-index: -1;
  transition: height 0.2s cubic-bezier(0.6, 0, 0.4, 1);
}

.brand-link {
  font-weight: var(--fw-bold);
}

.brand-link:hover::after {
  height: 0.2em;
}

.brand-link--callout::after {
  bottom: 0.05em;
  height: 0.2em;
}

.brand-link--callout:hover::after {
  height: 100%;
}

.avatar__row {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.avatar__img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.avatar__fact {
  margin-bottom: 0;
}

.blogPost .avatar__img {
  margin-right: unset;
  margin-left: unset;
}

.blogPost > :last-child {
  margin-bottom: 0;
}
