.container--max-width {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.container--base-padding {
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.home-section .blog__row .articleCard {
  background-color: var(--darkness);
  padding: 1em;
}
