.container--max-width {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.container--base-padding {
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.pl-0 {
  padding-left: 0;
}

.text--underline {
  border-bottom: 0.1em solid rgba(20, 207, 174, 0.5);
}

.text--center {
  text-align: center;
}

.list--no-type {
  list-style-type: none;
}

.font--mono {
  font-family: var(--ff-mono);
}

.color--darkness {
  color: var(--darkness);
}

/* fix bug with mobile navigation flashing on load  */
.preload {
  transition: none !important;
}
