---
import Base from './Base.astro'
import AuthorBio from '../components/AuthorBio.astro'
const props = Astro.props.content
const {title} = props
---

<style>
.blogPost {
  margin-bottom: 2em;
}
</style>

<Base {...props}>
  <div class="container--max-width container--base-padding">
    <article class="blogPost">
      <h1 class="page__title">{title}</h1>
      <slot>Default Blog Content</slot>
    </article>
    <AuthorBio />
  </div>
</Base>